<section class="app-jumbotron jumbotron text-center">
  <div class="container">
<h1 class="jumbotron-heading">Upload file</h1>
    <p class="lead text-muted">
      File must be in xlsx format
    </p>
    <p>
      <%= link_to 'Upload from Excel', new_form_path %> </br>
      <%= link_to "Results", results_path, class: "btn btn-secondary px-4 mx-2" %>
    </p>
</div>
</section>
